body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: #BFBFBF;
}

fieldset {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

legend {
    text-align: left;
}

label { 
    font-size: 18px;
}